<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/punya-tutorials/css/scrollstyle.css">
    <link rel="stylesheet" href="/punya-tutorials/css/style.css">
  </head>
  <body>
    <div class="accordion" id="youthRadioAccordion">
      {{ content }}
    </div>

    <div id="serverTutorialId" style="display: none;">{{ page.tutorialId }}</div>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/punya-tutorials/scripts/utils.js"></script>
    <script src="/punya-tutorials/scripts/markdown.js"></script>
    <script src="/punya-tutorials/scripts/tabHandler.js"></script>
    <script src="/punya-tutorials/scripts/tutorialPage.js"></script>
    <script src="/punya-tutorials/scripts/shareAndPublish.js"></script>
    <script>
      $( function() {
          $( ".widget input[type=submit], .widget a, .widget button" ).button();
      } );
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-31803258-2', 'auto');
  ga('send', 'pageview');

    </script>
  </body>
</html>
